view{
		border: #007AFF;
		border-style: solid;
		border-width: thin;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-top: 200rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}

	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}
	
	.content {
		display: flex;
		flex-direction: column;
	}
	
	.content>.top {
		display: flex;
		flex-direction: flex;
		
		align-items: center;
		justify-content: center;
		
		height: 200rpx;
		
	}
	.content>.center{
		height: 950rpx;
		/* border-color: #4CD964; */
	}
	
	.content>.center>.top{
		height: 10%;
		/* border-color: #000; */
	}
	
	.content>.center>.bottom{
		height: 90%;
		/* border-color: #000; */
	}
	
	.content>.bottom{
		
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 20rpx);
		height: 100rpx;
		border-color: #999999;
		border-width: 10rpx;
	}
	
	.step{
		font-size: 72rpx;
		align-items: center;
	}